# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/src/main/resources/application.properties
# Backend
backend/target/
backend/.mvn/
database/
mvnw/
mvnw.cmd

# Frontend
frontend/node_modules/
frontend/dist/

# Env
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

run-all.bat
run-all.ps1

.mvn/wrapper/
.github/java-upgrade
