# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backend
backend/target/
backend/.mvn/
backend/src/main/resources/db
database/
mvnw/
mvnw.cmd

# Frontend
frontend/node_modules/
frontend/dist/

# Env
.env
.env.*

# IDE
.vscode/
.idea/

run-all.bat
run-all.ps1

.mvn/wrapper/
.github/java-upgrade